{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
    {% for cafe in user.cafes.all %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}
            <a class="cafe-thumbnail" data-id="{{ cafe.id }}">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="thumbnail">
                        {% if cafe.photo.image.url %}
                            <img src="{{ cafe.photo.image.url }}">
                        {% else  %}
                            <img src="{% static 'imgs/no_img.png' %}">
                        {% endif %}
                        <div class="caption">
                            <h4>{{ cafe.name }}</h4>
                        </div>
                    </div>
                </div>
            </a>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}


     <!-- 카페 상세 Modal -->
    <div class="modal fade" id="cafeDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="btn btn-default btn-sm close-btn" data-dismiss="modal"  aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                  <div class="only-owner">
                    <span class="hidden user_id">{{ user.id }}</span>
                    <a id="edit" class="btn btn-default btn-sm only-owner"><i class="fa fa-pencil"></i></a>
                    <a id="delete" class="btn btn-danger btn-sm only-owner"><i class="fa fa-trash-o"></i></a>
                  </div>
              <h3 class="modal-title" id="cafe-name"></h3>
              <p><span id="cafe-address"></span></p>
          </div>
            <hr/>
          <div class="modal-body">
            <div class="detail-imgarea">
              <img id="cafe-img" src="" alt=""/>
            </div>
            <p id="cafe-intro"></p>
            <div id="google-map"></div>
            </div>
          </div>
        </div>
    </div>
    <!-- 카페 상세 Modal 끝 -->

{% endblock %}