{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="user-profile">
{#        <h3 class="page-title">{{ user.nickname }}님 안녕하세요.</h3>#}
        <ul class="nav nav-tabs nav-justified profile-tab">
          <li role="presentation" data-tab="private-cafes" class="active"><a>추천한 카페목록</a></li>
          <li role="presentation" data-tab="private-infos"><a>개인정보 관리</a></li>
        </ul>
        <div class="private-cafes">
            {% for cafe in user.cafes.all %}
                {% if forloop.first %}
                    <div class="row">
                {% endif %}
                    <a class="cafe-thumbnail" data-id="{{ cafe.id }}">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="thumbnail">
                                {% if cafe.photo.image.url %}
                                    <img src="{{ cafe.photo.image.url }}">
                                {% else  %}
                                    <img src="{% static 'imgs/no_img.png' %}">
                                {% endif %}
                                <div class="caption">
                                    <h4>{{ cafe.name }}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                {% endif %}
                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="private-infos">
            <h3>개인정보를 관리한다.</h3>
        </div>
    </div>


     <!-- 카페 상세 Modal -->
    <div class="modal fade" id="cafeDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <div class="row">
                  <div class="col-sm-12">
                      <button type="button" class="btn btn-default btn-sm close-btn" data-dismiss="modal"  aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                      <div class="only-owner">
                        <span class="hidden user_id">{{ user.id }}</span>
                        <a id="edit" class="btn btn-default btn-sm only-owner"><i class="fa fa-pencil"></i></a>
                        <a id="delete" class="btn btn-danger btn-sm only-owner"><i class="fa fa-trash-o"></i></a>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                      <h4 class="modal-title" id="cafe-name"></h4>
                  </div>
                  <div class="col-sm-12 col-md-6 cafe-address">
                      <i class="fa fa-tag" aria-hidden="true"></i><span id="cafe-address"></span>
                  </div>
              </div>
          </div>
          <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="detail-imgarea">
                            <img id="cafe-img" src="" alt=""/>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="google-map">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="detail-textarea">
                        <p id="cafe-intro"></p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- 카페 상세 Modal 끝 -->

{% endblock %}