{% extends 'account/base.html' %}
{% load staticfiles %}

{% block auth_content %}
    <div class="profile">
        <h3 class="page-title">
        {% if next %}
            로그인이 필요한 기능입니다 !
        {% else %}
            로그인 !
        {% endif %}
    </h3>
    <hr/>

    <form action="{% url 'authapp:profile' %}" method="post">
        {% csrf_token %}
        <div style="display: none"><input type="text" name="next" value="{{ next }}"/></div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input id="email" name="username" type="email" class="form-control" placeholder="my_email@domain">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input id="password" name="password" type="password" class="form-control" placeholder="password">
        </div>
        <button class="btn btn-default btn-lg btn-block" type="submit">로그인</button>
        <a class="btn btn-default btn-lg btn-block" href="{% url 'account_signup' %}">이메일로 회원가입</a>
    </form>
    </div>
{% endblock %}