{% load staticfiles %}
{% load main_tags %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>나 혼자 간다.</title>
    <link rel="stylesheet" href="{% static 'NanumGothic/NanumGothic.css' %}">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>#}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'main:cafe_list' %}" class="navbar-brand color-coffee">나 혼자 간다</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'main:cafe_new' %}">추천하기</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'authapp:mypage' %}" class="color-coffee">{{ user.username }}</a></li>
                    <li><a href="{% url 'authapp:logout' %}" class="color-coffee">로그아웃</a></li>
                {% else %}
                    <li><a href="{% url 'authapp:login' %}?next={{ request.path }}" class="color-coffee">로그인</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>© 2016 나 혼자 간다.</p>
    </footer>

    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={% get_api_key 'GOOGLE_MAP_KEY' %}&language=ko"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>