{% extends 'main/base.html' %}
{% load main_tags %}

{% block content %}
    <div class="cafe-form-content">
        <h3 class="page-title">
            {% if request.path == '/cafe/new/' %}
                카페 추천하기
            {% else %}
                수정하기
            {% endif %}
        </h3>
        {% if cafe_form.non_field_errors %}
            <p class="bg-danger">{{ cafe_form.non_field_errors.as_text }}</p>
        {% endif %}
        {% if cafephoto_form.non_field_errors %}
            <p class="bg-danger">{{ cafephoto_form.non_field_errors.as_text }}</p>
            {% endif %}
        {% if cafepos_form.non_field_errors %}
            <p class="bg-danger">{{ cafepos_form.non_field_errors.as_text }}</p>
        {% endif %}
        {% if request.path == '/cafe/new/'%}
            <form class="form-horizontal cafe-form" action="{% url 'main:cafe_new' %}" method="POST" enctype="multipart/form-data">
        {% else %}
            <form class="form-horizontal cafe-form" action="{% url 'main:cafe_edit' cafe_id %}" method="POST" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            <!-- 작성자 Hidden -->
            <div style="display: none">
                <span>{{ cafe_form.user }}</span>
                <span id="cur_img">{{ cur_img }}</span>
            </div>
            <div class="my-form-group">
                <div class="img-area">
                    <div class="cafephoto-preview">
                        <div class="label-wrapper">
                            {{ cafephoto_form.image.label_tag }}
                            <div class="gray-box"></div>
                            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                            {{ cafephoto_form.image }}
                            <div class="hidden">
                                <p id="origin_img">{{ origin_img }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-area">
                    <div class="input-wrap">
                        <label for="id_{{ cafe_form.name.name }}">{{ cafe_form.name.label }}</label>
                        {% if request.path != '/cafe/new/' %}
                            <input class="form-control" id="id_{{ cafe_form.name.name }}" name="{{ cafe_form.name.name }}" value="{{ cafe_form.name.value }}" type="text" maxlength="20"/>
                        {% else %}
                            <input class="form-control" id="id_{{ cafe_form.name.name }}" name="{{ cafe_form.name.name }}" type="text" maxlength="20"/>
                        {% endif %}
                    </div>
                    <div class="input-wrap">
                        <label for="id_{{ cafe_form.intro.name }}">{{ cafe_form.intro.label }}</label>
                        {% if request.path != '/cafe/new/' %}
                            <textarea class="form-control" name="{{ cafe_form.intro.name }}" id="id_{{ cafe_form.intro.name }}">{{ cafe_form.intro.value }}</textarea>
                        {% else %}
                            <textarea class="form-control" name="{{ cafe_form.intro.name }}" id="id_{{ cafe_form.intro.name }}"></textarea>
                        {% endif %}
                    </div>
                    <div class="input-wrap inline">
                        <label for="id_{{ cafe_form.address.name }}">{{ cafe_form.address.label }}</label>
                        <div>
                            {% if request.path != '/cafe/new/' %}
                                <input class="map-add-input form-control" id="id_{{ cafe_form.address.name }}" name="{{ cafe_form.address.name }}" value="{{ cafe_form.address.value }}" type="text"/>
                            {% else %}
                                <input class="map-add-input form-control" id="id_{{ cafe_form.address.name }}" name="{{ cafe_form.address.name }}" type="text"/>
                            {% endif %}

                            <button type="button" id="map-search-btn" class="btn btn-default">주소 검색</button>
                            <p class="text-success">카페의 주소를 검색해서 지도상의 위치를 확인하세요 !</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 카페 주소 + Google map-->
            <div class="my-form-group google-map-wrapper">
                <div id="google-map">
                </div>
                <div style="display: none">
                    {{ cafepos_form }}
                </div>
            </div>
            <div class="btn-wrapper">
                <button class="btn btn-primary btn-lg" type="submit">저장하기</button>
                <button class="btn btn-default btn-lg" type="reset">취소하기</button>
            </div>
        </form>
    </div>
{% endblock %}

