{% extends 'main/base.html' %}
{% load staticfiles %}
{% load main_tags %}

{% block content %}
    <div class="detail-container">
        <div class="row">
            <div class="left-section col-sm-12 col-md-6 col-lg-7">
                <div class="detail-imgarea">
                    {% if cafe.photos.all|length != 0 %}
                        <img class="cur-img" src="{{ cafe.photos.all.0.image.url }}" alt=""/>
                        <div class="other-imgs-wrapper">
                            {% for photo in cafe.photos.all %}
                                <img class="img" src="{{photo.image.url}}" alt=""/>
                            {% endfor %}
                        </div>
                    {% else %}
                        <img class="cur-img" src="{% static 'imgs/no_img.png' %}" alt=""/>
                    {% endif %}
                </div>
                <div class="detail-textarea">
                    <p>{{ cafe.intro }}</p>
                </div>
            </div>
            <div class="right-section col-sm-12 col-md-6 col-lg-5">
                <div class="detail-titlearea">
                    <h5>{{ cafe.name }}</h5>
                    {% if cafe.has_solo_table %}
                        <span class="cafe-tag pull-right">1인석 있음</span>
                    {% endif %}
                </div>
                <div class="detail-subinfoarea">
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <span class="hidden-data" id="cafe-latitude">{{ cafe.position.latitude }}</span>
                                    <span class="hidden-data" id="cafe-longitude">{{ cafe.position.longitude }}</span>
                                    <div id="map"></div>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-map-marker" aria-hidden="true"></i></td>
                                <td colspan="2">{{ cafe.address }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-volume-down" aria-hidden="true"></i></td>
                                <td colspan="2">{{ cafe.mood }}</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-clock-o" aria-hidden="true"></i></td>
                                <td>평일</td>
                                <td>{{ cafe.week_hours }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>토요일</td>
                                <td>{{ cafe.satur_hours }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>토요일</td>
                                <td>{{ cafe.sun_hours }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
{#                <div class="card-panel cafe-info">#}

{#                    <br/>#}
{#                    #}
{#                    <hr/>#}
{#                    <div class="card-content">#}
{#                        #}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}