.cafe-detail-img {
    background-color: dimgray;
    position: relative;
}

.other-imgs-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.other-imgs-wrapper .img {
    margin-right: 5px;
    border: solid 1px #e2e2e2;
    float: left;
    display: inline;
    width: 20% !important;
    height: 10%;
}