a{
    color: inherit;
}

label.required {
    color: #ff4d4d;
}

.nav-color {
    background-color: #ffffef !important;
}

.coffee-font {
    color: #6F4E37 !important;
}

footer.page-footer {
    position: relative;
    bottom: -86px;
    border: solid 1px #d0d0d0;
    background-color: #eeeeee;
    padding: 0;
    width: 100%;
}

footer .container {
    color: #9a9a9a;
    text-align: center;
    background: none;
    border: none;
}


.cafe-tag {
    background-color: #6F4E37;
    font-weight: 500;
    font-size: 13px;
    color: #ffffef;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.thumb-container {
    border: solid 1px #e2e2e2;
    margin-top: 5px;
    background-color: #fff;
    padding: 20px;
}

.thumb-container .card-image img{
    overflow: hidden;
    min-height: 200px;
}

.thumb-container .card-title {
    font-size: 20px;
}

.thumb-container .cafe-tag {
    float: right;
}

.detail-container .cafe-tag {
    float: left;
}

.detail-container .card-title {
    padding-top: 10px;
}

.detail-container .cafe-intro {
    padding-left: 30px;
    padding-right: 30px;
}

.detail-container .hidden-data {
    display: none;
}

.detail-container #map {
    width: 100%;
    height: 300px;
}

.content-top {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.cafe-new.btn {
    display: inline;
    float: right;
}

.cafe-form {
    margin-top: 50px;
}

.cafe-form .check-input + label {
    margin-bottom: 30px;
}

.detail-more-btn {
    border: none;
    background: none;
    padding: 10px;
}

.detail-more-btn:active {
    background: none;
}

.detail-more-btn:focus {
    background: none;
}