@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../lib/font/MaterialIcons-Regular.eot');
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('../lib/font/MaterialIcons-Regular.woff2') format('woff2');
         url('../lib/font/MaterialIcons-Regular.woff') format('woff');
         url("../lib/font/MaterialIcons-Regular.ttf") format('truetype'),
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

a{
    color: inherit;
}

.thumb-container {
    border: solid 1px #e2e2e2;
    margin-top: 5px;
    background-color: #fff;
    padding: 20px;
}

.nav-color {
    background-color: #ffffef !important;
}

.coffee-font {
    color: #6F4E37 !important;
}

footer.page-footer {
    position: relative;
    bottom: -86px;
    border: solid 1px #d0d0d0;
    background-color: #eeeeee;
    padding: 0;
    width: 100%;
}

footer .container {
    color: #9a9a9a;
    text-align: center;
    background: none;
    border: none;
}

.cafe-tag {
    background-color: #6F4E37;
    font-weight: 500;
    font-size: 13px;
    color: #ffffef;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.thumb-container .cafe-tag {
    float: right;
}

.detail-container .cafe-tag {
    float: left;
}

.detail-container .card-title {
    padding-top: 10px;
}

.cafe-intro {
    padding-left: 30px;
    padding-right: 30px;
}

.hidden-data {
    display: none;
}

#map {
    width: 100%;
    height: 300px;
}