a{
    color: inherit;
}

#map {
    width: 100%;
    height: 300px;
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 850px) {
    .modal-dialog {
        width: 750px;
    }
}

label.required {
    /*color: #ff4d4d;*/
}

.nav-color {
    background-color: #ffffef !important;
}

.coffee-font {
    color: #6F4E37 !important;
}

footer.page-footer {
    position: relative;
    bottom: -86px;
    border: solid 1px #d0d0d0;
    background-color: #eeeeee;
    padding: 0;
    width: 100%;
}

footer .container {
    color: #9a9a9a;
    text-align: center;
    background: none;
    border: none;
}


.cafe-tag {
    background-color: #6F4E37;
    font-weight: 500;
    font-size: 13px;
    color: #ffffef;
    padding: 5px 10px 5px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#cafeDetailModal .left-section, #cafeDetailModal .right-section{
    border: solid 1px #c2c2c2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.detail-imgarea {
    position: relative;
}

.modal-header .modal-title {
    display: inline-block;
}

.detail-imgarea #cafe-img{
    width: 100%;
    height: auto;
    display: block;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

.detail-other-imgarea {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

.detail-other-imgarea img {
    margin: 5px 5px;
    border: solid 1px #e2e2e2;
    width: 20% !important;
    height: 10%;
    float: right;
}

.detail-textarea {
    padding: 20px;
}




.detail-titlearea h5{
    display: inline-block;
}

.detail-subinfoarea table{
    width: 100%;
}

.detail-subinfoarea td > i {
    margin-right: 10px;
    margin-left: 10px;
}

.detail-subinfoarea td {
    padding: 6px 0;
}

.tlabel {

}


/*.thumb-container {*/
    /*border: solid 1px #e2e2e2;*/
    /*margin-top: 5px;*/
    /*background-color: #fff;*/
    /*padding: 20px;*/
/*}*/

/*.thumb-container .card-image img{*/
    /*overflow: hidden;*/
    /*min-height: 200px;*/
/*}*/

/*/!*.detail-container .card-image img {*!/*/
    /*/!*min-height: 300px;*!/*/
/*/!*}*!/*/

/*.thumb-container .card-title {*/
    /*font-size: 20px;*/
/*}*/

/*.thumb-container .cafe-tag {*/
    /*float: right;*/
/*}*/

.subinfo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.subinfo .cafe-tag {
    float: right;
}





#cafeDetailModal .cafe-tag {
    float: left;
}

#cafeDetailModal .card-title {
    padding-top: 10px;
}

#cafeDetailModal .cafe-intro {
    padding-left: 30px;
    padding-right: 30px;
}

#detail-container .hidden-data {
    display: none;
}




.content-top {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.cafe-new.btn {
    display: inline;
    float: right;
}

.cafe-form {
    margin-top: 50px;
}

.cafe-form .check-input + label {
    margin-bottom: 30px;
}

.detail-more-btn {
    border: none;
    background: none;
    padding: 10px;
}

.detail-more-btn:active {
    background: none;
}

.detail-more-btn:focus {
    background: none;
}

.hidden {
    display: none;
}

.hidden-section {
    overflow: hidden;
}

.cafephoto-preview .label-wrapper {
    width: 30%;
    height: 200px;
    float: left;
    border: solid 1px #e2e2e2;
    position: relative;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.cafephoto-preview .label-wrapper i{
    color: #fff;
    display: none;
}

.cafephoto-preview .label-wrapper .gray-box {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*.cafephoto-preview .label-wrapper.img-loaded i{*/
    /*display: block;*/
/*}*/

.label-wrapper label {
    z-index: 10;
    width: 100%;
    height: inherit;
    background-image: url("../imgs/imgframe.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.label-wrapper i {
    position: absolute;
    top: 10px;
    right: 10px;
}

.img-loaded label{
    -webkit-background-size: 100%;
    /*background-size: 100%;*/
    background-size: cover;
}
